.container {
  height: 80px;
  background-color: #971b1d;
  display: flex;
  align-items: center;
  padding-left: 120px;
}
img{
  width: 60px;
  align-items: center;
}
.text-section{
  color: #ffff;
  padding-left: 10px;
}


@media screen and (max-width: 768px) {
  .container{
    padding: 10px 10px;
  }
  img{
    width: 50px;
    align-items: center; 
  }
  .text-section h1{
    font-size: 15px;
    color: #ffff;
  }
  .text-section p{
    font-size: 10px;
    color: #ffff;
  }

}