.card-container{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
    margin-top: 20px;;
}
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    flex: 1;
    border: 2px solid green;
    width: 320px;
    height: 500px;
    margin: 20px;
}
.card img{
    width: 100%; 
}
.card .contant{
    text-align: center;
    padding: 10px;
}
.card .contant h3{
    color: #971b1d;
    padding-bottom: 5px;
    
}
.card .contant p{
    text-align: justify;
} 

@media screen and (max-width: 768px) {
    .card-section{
        flex-direction: column;
    }
    
}