.footer{
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(rgba(13, 202, 76, 0.75), rgba(1, 39, 11, 0.75)), url("../../assets/footer.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px 0 30px;
    font-size: 13px;
    line-height: 20px;
    
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 30%;
    padding: 10px;

}
.address{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100px;
    margin-top: -20px;
    padding-right: 20px;
}
ul li{
    list-style:none;
    margin-bottom: 2px;
    
}
ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    margin-left: 100px;
    padding: 0;
}
.col .social-icon{
    font-size: 40px;
    color: #447ce9;
    
}
.col .social-icon .icon{
    background-color: #ffff;
    padding: 10px;
    margin-right: 25px;  
}
.col .number{
    padding-top:20px;
    margin-right: 20px;
}
.col .number img{
    margin-right: 20px;
    width: 100px;
}

.footer-bottom{
    background-color:#006a4e;
    color: #fff;
    padding: 15px 120px 15px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-bottom span{
    color: orangered;
}

@media screen and (max-width: 768px) {
    .footer{
        margin-top: 15px;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .address h3{
        font-size: 15px;
        
    }
    ul li a {
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        margin-left: 60px;
    }

    .col .social-icon{
        margin-left: 60px;
        margin: 10px 40px
    }
    .col .number{
        align-items: center;
        margin: 10px 50px;
    }
    .footer-bottom{
        background-color:#006a4e;
        color: #fff;
        padding: 15px 15px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}
