.navbar {
  height: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-left: 120px;
 
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 70px;
}
