.menubar {
  height: 50px;
  background-color: #01803d;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 120px;
}
.menubar a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin-left: 36px;
  float: right;
}
